*.aux
*.lof
*.log
*.lot
*.pdf
*.toc
*.idx
*.ilg
*.ind
*.out

svg-inkscape/
main-gnuplottex-fig1.eps
main-gnuplottex-fig1.gnuplot
main-gnuplottex-fig1.tex
main-gnuplottex-fig2.eps
main-gnuplottex-fig2.gnuplot
main-gnuplottex-fig2.tex
main.gnuploterrors
