*.aux
*.lof
*.log
*.lot
*.toc
*.idx
*.ilg
*.ind
*.out

svg-inkscape/
main-gnuplottex-fig*.eps
main-gnuplottex-fig*.gnuplot
main-gnuplottex-fig*.tex
main.gnuploterrors
main-gnuplottex-fig*-eps-converted-to.pdf
fiches.pdf
